body {
  background-color: #f1f2f5 !important;
  font-family: "Poppins", sans-serif !important;
  color: var(--secondary-color) !important;
  transition: var(--transition);
}

:root {
  /* ===== COLORS =====*/
  --primary-color: #4e73df;
  --primary-opacity-color: #3a54a0;
  --success-color: #1cc88a;
  --success-opacity-color: #149767;
  --info-color: #36b9cc;
  --warning-color: #f6c23e;
  --danger-color: #e74a3b;
  --danger-opacity-color: #a2342a;
  --secondary-color: #858796;
  --light-color: #f8f9fc;
  --light-opacity-color: #f8f9fc3b;
  --dark-color: #5a5c69;
  --white-color: #fff;
  --black-color: #363740;

  /* ===== FONT SIZE =====*/
  --main-head: 28px;
  --second-head: 24px;
  --third-head: 20px;
  --main-text: 20px;
  --second-text: 16px;
  --third-text: 14px;
  --small-text: 12px;

  /* ===== OTHER SIZES =====*/
  --header-width: calc(100% - var(--sidebar-width));
  --header-height: 60px;
  --sidebar-width: 250px;
  --sidebar-logo: 35px;
  --footer-width: calc(100% - var(--sidebar-width));
  --footer-height: 60px;

  --transition: 0.4s ease-in-out;

  --border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

a {
  text-decoration: none !important;
  color: var(--secondary-color) !important;
  display: block;
}

a.btn {
  color: var(--white-color) !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--primary-opacity-color) !important;
  border-color: var(--primary-opacity-color) !important;
}

.btn-success {
  background-color: var(--success-color) !important;
  border-color: var(--success-color) !important;
}

.btn-success:hover {
  background-color: var(--success-opacity-color) !important;
  border-color: var(--success-opacity-color) !important;
}

.btn-danger {
  background-color: var(--danger-color) !important;
  border-color: var(--danger-color) !important;
}

.btn-danger:hover {
  background-color: var(--danger-opacity-color) !important;
  border-color: var(--danger-opacity-color) !important;
}

.bdg {
  font-size: var(--small-text);
  border-radius: var(--border-radius);
  padding: 2px 8px;
  font-weight: bold;
}

.bdg.bdg-success {
  background-color: var(--success-color);
  color: var(--white-color);
}

.bdg.bdg-danger {
  background-color: var(--danger-color);
  color: var(--white-color);
}

.bdg.bdg-warning {
  background-color: var(--warning-color);
  color: var(--black-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

/* SIGNUP & LOGIN */
.signup-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.signup-page .page-head {
  font-weight: bold;
}

.card-form {
  background-color: var(--white-color);
  width: 800px;
  border-radius: var(--border-radius);
  padding: 10px;
}

.form-design {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-form form {
  width: calc(100% / 2);
}

.form-design .form-image {
  border-radius: var(--border-radius);
  width: calc(100% / 2);
  height: 540px;
  object-fit: cover;
}

/* ============================== WRAPPER ============================== */
.wrapper {
  display: flex;
}

/* ============================== HEADER ============================== */
header {
  background-color: var(--white-color);
  height: var(--header-height);
  padding: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .sidebar-button {
  width: 28px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

header .sidebar-button span {
  background-color: var(--primary-color);
  width: 100%;
  height: 3px;
  border-radius: var(--border-radius);
  display: block;
  cursor: pointer;
}

header .right-area .settings-button {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
}

header .right-area .profile-area {
  cursor: pointer;
  transition: var(--transition);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}

header .right-area .settings-button:hover,
header .right-area .profile-area:hover {
  background-color: var(--light-color);
}

header .right-area .profile-area .username {
  font-size: var(--third-text);
}

header .right-area .profile-area .photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* ============================== SIDEBAR ============================== */
.sidebar {
  background-color: var(--primary-color);
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: -100%;
  transition: var(--transition);
  z-index: 5;
}

body.sidebar-open {
  padding-left: var(--sidebar-width);
}

.sidebar.sidebar-open {
  left: 0;
}

header.sidebar-open {
  width: var(--header-width);
}

.sidebar .brand {
  color: var(--white-color) !important;
  font-size: var(--sidebar-logo);
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  opacity: 0.8;
}

.sidebar nav {
  padding: 10px;
  border-top: 1px solid var(--light-opacity-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar nav .nav-link {
  color: var(--white-color) !important;
  font-size: var(--third-text);
  padding: 10px;
  border-radius: var(--border-radius);
  transition: var(--transition);
  border: none;
  background: none;
  outline: none;
}

.sidebar nav .nav-link i {
  color: var(--light-opacity-color);
  transition: var(--transition);
}

.sidebar nav .nav-link.active,
.sidebar nav .nav-link:hover {
  color: var(--white-color) !important;
  background-color: var(--light-opacity-color);
}

.sidebar nav .nav-link.active i,
.sidebar nav .nav-link:hover i {
  color: var(--white-color);
}

/* ============================== FOOTER ============================== */
footer {
  background-color: var(--white-color);
  height: var(--footer-height);
  font-size: var(--small-text);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

footer .text {
  margin: 0;
  padding: 0;
}

/* ============================== MAIN CONTENT ============================== */
main {
  flex: 1;
}

.main-content {
  margin-top: var(--header-height);
  padding: 10px;
}

.page-head {
  font-size: var(--main-head);
  margin-bottom: 20px;
}

.main-content .card-table {
  padding: 10px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 0 9px 0px rgb(0 0 0 / 12%);
  text-align: center;
}

.main-content .card-table img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.main-content .card-table td,
.main-content .card-table th {
  vertical-align: middle;
}
